<%= form_for @song do |f| %>
  <% if @song.errors.any? -%>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @song.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name, 'name' %><br />
    <%= f.text_field :name, autocapitalize: 'words' %>
  </p>
  <p>
    <%= f.label :artist, 'artist' %><br />
    <%= f.text_field :artist, autocapitalize: 'words' %>
  </p>
  <% unless mobile_device? %>
    <p>
      <%= f.label :file, 'upload the file' %>
      <%= f.file_field :file, accept: 'audio/*' %>
    </p>
  <% end %>
  <p class="button"><%= f.submit %></p>
<% end %>
