<h1>songs</h1>

<ul class='no-bull song-list'>
  <% @songs.each do |song| %>
    <li>
      <div class='song-name'><%= song.name %></div>
      <div class='artist-name'><%= song.artist %></div>
      <div class='actions'>
        <%= link_to 'edit', edit_song_path(song) %>
        or
        <%= link_to 'delete', song, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <% if song.file_name.present? %>
        <div class='audio-container'>
          <audio controls>
            <source src="<%= song.hls_url %>" type="audio/mpeg" />
            <source src="<%= song.mp3_url %>" type="audio/mpeg" />
          </audio>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'new song', new_song_path %>
