<h1>submissions</h1>

<ul class='no-bull song-list'>
  <% @submissions.each do |submission| %>
    <li>
      <div class='song-name'><%= submission.song %></div>
      <div class='artist-name'><%= submission.artist %></div>
      <div class='actions'>
        <%= link_to 'edit', edit_submission_path(submission) %>
        or
        <%= link_to 'delete', submission, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to 'new submission', new_submission_path %>
